/* label update */ 
div#v-pills-Menu_C_P13 .card .nav label,
div#v-pills-Menu_A_P56 .card .nav label,
div#v-pills-Menu_C_P1 .card .nav label,
div#v-pills-Menu_C_P2 .card .nav label, 
div#v-pills-Menu_C_P3 .card .nav label,
div#v-pills-Menu_C_P4 .card .nav label,
div#v-pills-Menu_C_P5 .card .nav label,
div#v-pills-Menu_C_P6 .card .nav label,
div#v-pills-Menu_C_P8 .card .nav label,
div#v-pills-Menu_C_P15 .card .nav label,
div#v-pills-Menu_C_P16 .card .nav label,
div#v-pills-Menu_C_P25 .card .nav label

{
    background-color: blanchedalmond;
    line-height: 40px;
    padding-left: 5px;
    padding-right: 5px;
    cursor: none;
    margin-left: 2px;
}
